<h1 class="text-center"> Formulario Persona</h1>

<div class="card">
    <div class="card-header bg-info text-white">
        Datos de la Persona
    </div>

    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input [(ngModel)]="persona.nombre" name="nombre" type="text" class="form-control" id="nombre"
                    aria-describedby="emailHelp">
            </div>

            <div class="form-group">
                <label for="apellido">Apellido</label>
                <input [(ngModel)]="persona.apellido" name="apellido" type="text" class="form-control" id="apellido"
                   >
            </div>


            <div class="form-group">
                <label for="cedula">Cedula</label>
                <input [(ngModel)]="persona.cedula" name="cedula" type="text" class="form-control" id="cedula"
                    aria-describedby="emailHelp">
            </div>

            <button type="submit" (click)="guardar()" class="btn btn-primary w-100">
                <span class="fas fa-save"></span> Guardar
            </button>
        </form>
    </div>
</div>